[submodule ".bin/autojump"]
	path = .bin/autojump
	url = git://github.com/joelthelion/autojump.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-ack"]
	path = .vim/bundle/vim-ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
