[submodule ".bin/autojump.git"]
	path = .bin/autojump.git
	url = git://github.com/joelthelion/autojump.git
[submodule "/home/simon/.vim/vundle"]
	path = /home/simon/.vim/vundle
	url = https://github.com/gmarik/vundle.git
