[user]
	name = Simon Legner
	email = Simon.Legner@gmail.com
[color]
	ui = true
[log]
	date = iso
[alias]
	a = add
	b = branch
	ci = commit
	cleanup = "!git branch --merged | grep --invert-match '\\*\\|master\\|develop' | xargs --max-args=1 --no-run-if-empty git branch --delete --verbose"
	co = checkout
	d = diff --patience
	diff-merge-point = !git diff $(git merge-base --fork-point master)
	ds = diff --staged --patience
	ls-ci-files = diff-tree --no-commit-id --name-only -r
	s = status --branch --short
	rebase-first-commit = rebase -i --root
	rebase-merge-point = !git rebase $(git merge-base --fork-point master)
	svn-ci = svn dcommit --interactive
	svn-log = svn log --oneline --show-commit
	svn-r = svn rebase
	svn-l = svn log --show-commit --oneline
	wd = diff --color-words
	uncommit =  reset --soft HEAD~1
	unstage = reset HEAD
[github]
	user = simon04
[gitlab]
	host = https://gitlab.com
	user = simon04
[push]
	default = simple
[core]
	autocrlf = input
	quotepath = false
[rebase]
	autoSquash = true
[diff "po"]
	textconv=msgcat --no-location --no-wrap --sort-output
[tig]
	ignore-case = smart-case
[diff]
	tool = vimdiff
[difftool]
	prompt = true
[difftool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[gitreview]
	remote = origin
	username = simon04
