[user]
	name = Simon Legner
	email = Simon.Legner@gmail.com
[color]
	ui = true
[alias]
	a = add
	b = branch
	ci = commit
	cl = clone
	co = checkout
	d = diff --patience
	ds = diff --staged --patience
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	li = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
	ll = log --pretty=format:"%C(yellow)%h\\ %C(green)%ai%C(red)%d\\ %C(reset)%s%C(blue)\\ [%cn]" --decorate --numstat
	m = merge
	s = status --branch --short
	st = status
	dry-svn-ci = !git svn dcommit --dry-run | grep -Eo '[0-9a-f]+$' | xargs -n1 git show --stat
	svn-ci = svn dcommit
	svn-log = svn log --oneline --show-commit
	svn-r = svn rebase
	svn-l = svn log --show-commit --oneline
	wd = diff --color-words
[github]
	user = simon04
[push]
	default = simple
[core]
	autocrlf = input
