Xcursor.theme: default
Xcursor.size: 16

URxvt.cursorBlink: true
URxvt.font:     xft:Fira Code:size=11:antialias=true
URxvt.boldFont: xft:Fira Code:bold:size=11:antialias=true

URxvt.saveLines: 10000
URxvt.scrollBar: false
URxvt.secondaryScroll: true
URxvt.secondaryScreen: true

*background: #121212
*foreground: #a0a0a0
*cursorColor: #a0a0a0

!! black dark/light
*color0: #1B1D1E
*color8: #505354

!! red dark/light
*color1: #F92672
*color9: #FF5995

!! green dark/light
*color2: #82B414
*color10: #B6E354

!! yellow dark/light
*color3: #FD971F
*color11: #FEED6C

!! blue dark/light
*color4: #4E82AA
*color12: #0C73C2

!! magenta dark/light
*color5: #8C54FE
*color13: #9E6FFE

!! cyan dark/light
*color6: #465457
*color14: #899CA1

!! white dark/light
*color7: #CCCCC6
*color15: #F8F8F2
