! xrdb -merge ~/.Xresources

Xcursor.theme: default
Xcursor.size: 16

URxvt.cursorBlink: true
URxvt.font:     xft:JetBrains Mono:size=11:antialias=true
URxvt.boldFont: xft:JetBrains Mono:bold:size=11:antialias=true
URxvt.perl-ext-common: tabbed
URxvt.keysym.C-Down: resize-font:smaller
URxvt.keysym.C-Up: resize-font:bigger

URxvt.saveLines: 10000
URxvt.scrollBar: false
URxvt.secondaryScroll: true
URxvt.secondaryScreen: true

*foreground: #fcfcfc
*background: #232627
*cursorColor: #fcfcfc

!! black dark/light
*color0: #232627
*color8: #000000

!! red dark/light
*color1: #ed1515
*color9: #c0392b

!! green dark/light
*color2: #11d116
*color10: #1cdc9a

!! yellow dark/light
*color3: #f67400
*color11: #fdbc4b

!! blue dark/light
*color4: #1d99f3
*color12: #3daee9

!! magenta dark/light
*color5: #9b59b6
*color13: #8e44ad

!! cyan dark/light
*color6: #1abc9c
*color14: #16a085

!! white dark/light
*color7: #fcfcfc
*color15: #ffffff
