[Desktop Entry]
Categories=Education;Geoscience;Maps;
Comment=Extensible off-line editor for OpenStreetMap (OSM)
Exec=java -jar /home/simon/.local/bin/josm-tested.jar
GenericName=Java OpenStreetMap Editor
Icon=/home/simon/src/josm/native/linux/tested/usr/share/icons/hicolor/scalable/apps/org.openstreetmap.josm.svg
Keywords=OpenStreetMap;OSM
MimeType=application/geo+json;application/gpx+xml;application/gzip;application/vnd.openstreetmap.data+xml;application/x-bzip2;application/x-gpx+xml;application/x-josm-session+xml;application/x-josm-session+zip;application/x-osm+xml;application/x-xz;application/zip;x-scheme-handler/geo;
Name=JOSM
StartupNotify=true
StartupWMClass=org-openstreetmap-josm-gui-MainApplication
Terminal=false
Type=Application
Version=1.0
